
<%= render 'layouts/nav' %>

<main class="col-sm-9 ml-sm-auto col-md-10 pt-3" role="main">
 <div class="col-12 col-md-9">
   <div class="row">
     <div class="col-12 ml-4 mt-3 mb-3">
       <form class="form-inline" action="search">
         <input class="form-control col-10 mr-sm-2" type="text" name="master" value = "<%=@master%>" placeholder="닉네임을 입력하세요">
         <button class="btn btn-outline-success my-2 my-sm-0" type="submit">검색</button>
       </form>
    </div>
  </div>
  <hr>
  <div class="row mt-5">
  <% if @master != nil %>
    <% @posts.each do |post| %>
     
      <div class="col-6 col-lg-4">
      
      <div class="thumbnail" style="margin: 3px; padding: 3px; border: 2px double; border-radius: 25px;">
        <center><%= image_tag post.image.thumb.url %></center>
        <div class="caption" style="padding: 10px">
          <h5 style="text-align:center"><%= post.name %></h5><hr>
    
          <center>
            대여기간: <%= post.day %> 일<br>
            총 보유량: <%= post.amount %> 개<br>
            현재 재고: <%= post.left %> 개<br><br>
            <form action="buy">
              <input type="hidden" name="master" value="<%=@master%>">
              <input type="hidden" name="item_id" value="<%=post.id%>">
              <input type="hidden" name="uid" value="<%=current_user.username%>">
              <input class="btn btn-secondary" type="submit" value="신청">
            </form>
          </center>
        </div>
      </div>
      

       
       </div>
     
    <% end %>
  <% end %>
  </div><!—/row—> 

 </div><!—/span—>
</main>


 