<%= form_for(@post, html: {multipart: true} ) do |f| %>
  <% if @post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% @post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label "품명" %><br>
    <%= f.text_field :name %>
  </div>
  <div class="field">
    <%= f.label "대여기간 (단위 :일)" %><br>
    <%= f.number_field :day %>
  </div>
  <div class="field">
    <%= f.label "보유량" %><br>
    <%= f.number_field :amount %>
  </div>
  <div class="field">
    <%= f.label "소유자" %><br>
    <%= f.text_field :master, value: current_user.username %>
  </div>
  <div class="field">
    <%= f.label "이미지" %><br>
    <%= f.file_field :image %>
  </div>
  <div class="actions">
    <%= f.submit  "등록하기"%>
    <%= button_tag "리셋하기", type: :reset %>
  </div>
<% end %>
