<%= render 'layouts/nav' %>

<center style="margin-top:20px">
<p id="notice"><%= notice %></p>
<div class="card" style="width: 20rem;">
  <%= image_tag @post.image.url %>
  <div class="card-block">
    <center><h4 class="card-title"><%= @post.name %></h4></center>
    <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>-->
  </div>
  <ul class="list-group list-group-flush">
    <li class="list-group-item">소유자: <%= @post.master %></li>
    <li class="list-group-item">대여기간: <%= @post.day %></li>
    <li class="list-group-item">총 보유량: <%= @post.amount %></li>
    <li class="list-group-item">현재 재고: <%= @post.left %></li>
    <li class="list-group-item">예약자 수: <%= @post.res %></li>
  </ul>
  <div class="card-block">
    <%= link_to '수정', edit_post_path(@post), class: "btn btn-secondary" %> |
    <%= link_to '뒤로', posts_path, class: "btn btn-secondary" %>
    <a href="/home/manager" style="float: right" class="btn btn-info">메인화면으로</a>
  </div>
</div>
</center>