<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="/">대여 관리 시스템</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item">
          <form action="glist" method="get">
            <button type="submit" class="btn btn-secondary">신청자 목록</button>
            <input type="hidden" name="uid" value="<%=current_user.username%>">
          </form>
        </li>
        
        <li class="nav-item">
          <form action="tlist" method="get">
            <input type="hidden" name="uid" value="<%=current_user.username%>">
            <button type="submit" class="btn btn-secondary">대여자 목록</button>
          </form>
        </li>
        <li class="nav-item">
          <form action="item_manager" method="get">
            <button type="submit" class="btn btn-secondary">아이템 관리</button>
            <input type="hidden" name="uid" value="<%=current_user.username%>">
          </form>
        </li>
        <li class="nav-item">
          <form action="give" method="get">
            <input type="hidden" name="uid" value="<%=current_user.username%>">
            <button type="submit" class="btn btn-secondary">신청 목록</button>
          </form>
        </li>
        <li class="nav-item">
          <form action="take" method="get">
            <input type="hidden" name="uid" value="<%=current_user.username%>">
            <button type="submit" class="btn btn-secondary">대여 목록</button>
          </form>
        </li>
      </ul>
      <ul class="navbar-nav my-2 my-lg-0">
        <% if user_signed_in? %>
          <li><p><%= current_user.email %></p></li> |
          <li><%= link_to 'MY PAGE', '/' %></li> |
          <li><%= link_to '로그아웃', destroy_user_session_path %></li>
        <% else %>
          <li><%= link_to '로그인', new_user_session_path %></li>
          <li><%= link_to '회원가입', new_user_registration_path %></li>
        <% end %>
      </ul>
    </div>
  </div>
</nav>